body {
    margin: 0;
    padding: 0;
    background-image: url('../img/bgis.jpg');
    /* filter: blur(5px);  */
    background-size:cover;
    position: relative;
}

.login {
    position: absolute;
    width: 500px;
    height: 400px;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    background-color: #eeeaea;
}

.login .title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 300;
}

.login .el-input:nth-child(2) {
    padding-bottom: 9px;
}

.login .el-input:nth-child(4) {
    padding-bottom: 20px;
}